{% extends "layout.html" %}

{% block main %}
<div class="hero">
  <div class="hero-inner">
    <h1>About Us</h1>
  </div>
</div>

<article class="about">
  <h1>Our Story</h1>
  <p>Founder, Jonathan Li, shares a passion for board games, boba, and delicious 
    food, so he combined them all to become Sip & Play, Park Slope's first board 
    game cafe.  It is a straightforward concept, come in with your friends and 
    family to play any board game from our library of 300+ games! We hope when 
    you visit, you also enjoy our coffee, espresso, boba, sandwiches, and 
    snacks!</p>  
</article>

<div class="contact">
  <h2>Get in Touch</h2>
  <a href="mailto:sipnplaynyc@gmail.com">sipnplaynyc@gmail.com</a>
  <a href="tel:718-971-1684">718-971-1684</a>
</div>
{% endblock main %}