{% extends "layout.html" %}

{% block main %}
<div class="hero">
  <div class="hero-inner">
    <h1>Welcome to Sip n Play!</h1>
    <p>A board game cafe in Brooklyn, NY.</p>    
  </div>
</div>
  <article class="summary">
    <p>You can browse our menu <a href="{{ url_for('menu') }}">here</a>, or check out our <a href="{{ url_for('events') }}">upcoming events</a>.</p>
    <p>Not sure what we're about? We've got:</p>
    <ul class="bx-ul">
      <li><i class='bx bx-dice-5'></i>Over 300 board games for you and your friends to play</li>
      <li><i class='bx bx-coffee'></i>Hot and cold drinks, including delicious boba</li>
      <li><i class='bx bx-baguette'></i>Food to keep you going through those long gaming sessions</li>
      <li><i class='bx bx-calendar'></i>Regular events to bring like-minded gamers together</li>
    </ul>
  </article>
  <button class="cta">
    <span>Ready to jump in?</span>
    <span>Book your first session now!</span>
  </button>
<!-- <article class="reservations">
  <h2>Reservations are open for any party size!</h2>
  <p>For large parties (9 or more people), please email us at 
    <a href="mailto:sipnplaynyc@gmail.com">sipnplaynyc@gmail.com</a> 
    to inquire about a reservation.
  </p>
  <button>Make a Reservation</button>
</article>
<article class="hours-and-location">
  <h2>Hours & Location</h2>
  <section class="opening-hours">
    <h3>New opening hours:</h3>
    <ul>
      <li>Sunday: 10am-11pm</li>
      <li>Monday-Thursday: 11am-11pm</li>
      <li>Friday: 11am-midnight</li>
      <li>Saturday: 10am-midnight</li>
    </ul>
    <p>Our kitchen closes 2.5-3 hours before we close!</p>
  </section>
  <section class="contact">
    <address>
      471 5th Ave.
      Brooklyn, NY 11215
    </address>
    <a href="mailto:sipnplaynyc@gmail.com">sipnplaynyc@gmail.com</a>
    <a href="tel:+17189711684">718-971-1684</a>
  </section>
</article>
<article class="about">
  <h2>How it Works</h2>
  <p>Come on in with your friends and family and play boardgames from our 
    collection of over 500+ games! Just $10 a person for 3 hours of gameplay. 
    ($12 a person Friday-Sunday and Holidays) Play while enjoying bubble tea, 
    coffee, beer sandwiches or salads and have a great time! If you want to 
    guarantee a table, you can make a reservation which is $15 a person for 3 
    hours of gameplay.</p>
</article> -->
{% endblock main %}