<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sip & Play - {{title}}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  {% block extra_imports %}
  <script type="importmap">
  {
    "imports": {
      "three": "https://cdn.jsdelivr.net/npm/three@0.166.1/build/three.module.js",
      "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.166.1/examples/jsm/"
    }
  }
</script>
  {% endblock %}
</head>
<body>
  <header>
    <nav>
      <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='img/sipnplay.png' )}}" alt="Sip n Play logo" class="logo">
      </a>
      <ul id="nav-menu">
        {% for navaddress in navaddresses %}
          <li><a href="{{ navaddress.url }}">{{ navaddress.name }}</a></li>
        {% endfor %}      
      </ul>
      <box-icon name='menu' id='nav-toggle', color='#103F70'></box-icon>
    </nav>
  </header>
  <main>
    {% block main %}
    {% endblock main %}
  </main>
  <footer></footer>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>