{% extends "layout.html" %}

{% block main %}
<div class="hero">
  <div class="hero-inner">
    <h1>Book Now!</h1>
  </div>
</div>
<article class="booking-information">
  <h2>How to Book</h2>
  <p>We have just started using a new reservation software, Tock! Reservations are $15 a person for 3 hours of game time.</p>
  <p>All reservations can be made on our new site:</p>
  <a href="https://www.exploretock.com/sipnplay/">https://www.exploretock.com/sipnplay/</a>
  <a href="https://www.exploretock.com/sipnplay">
    <button class="cta">Book now!</button>
  </a>
</article>
<article class="birthday-packages">
  <h2>Birthday Packages</h2>
  <section>
    <h3>Rent the entire backroom</h3>
    <p>$350 for 3 hours of game time all to your party!</p>
  </section>
  <section>
    <h3>Birthday Backroom Packages</h3>
    <ul>
      <li>$550 Birthday basic package. Have the entire backroom to yourselves 
        and get pizza and soda for the whole party! For ten people, each 
        additional person is +$30
      </li>
      <li>$700 Birthday premium package. Have the entire backroom to yourselves 
        with pizza, soda, unlimited bubble tea, unlimited appetizers and each 
        participant gets a Sip & Play goodie bag! For ten people, each 
        additional person is +$45
      </li>
    </ul>
    <p>For any other large party inquiries, visit the link above to make a 
      booking!</p>
  </section>
</article>
{% endblock main %}